body {
    font-family: 'Chakra Petch', sans-serif;
    color: rgb(255, 255, 255);
}

a {
    text-decoration: none;
}

nav>a {
    font-size: small;
}

h1 {
    margin: 2%;
    text-align: center;
}

hr {
    background-color: #F2F597;
    height: 3px;
}

footer {
    /* padding-left: 25%; */
}




/* *************************************************************** */
/* CLASES INICIO*/
.background {
    background-color: #7e7e7e;
}

.margin-nav {
    margin: 10%;
}

.error {
    color: red;
}

.fondoNegro {
    background-color: black;
}

.colorBlanco {
    color: white;
}

.colorBlanco:hover {
    color: #FFFDD0;
}

.enlaceVerde {
    text-decoration: dashed;
    color: rgb(255, 255, 255);
}

.enlaceVerde:hover {
    color: #FFFDD0;
}

.h2Resumen {
    color: #ffffff;
}

/* CLASES PARA EL NAVBAR */
.navbar-nav {
    margin-left: auto;
}

.navbar-nav .nav-link:hover {
    color: #AEB9C7;
    /* Color al hacer hover */
}

/*************************h3Resumen  *************************/
/****************************************************/
/* @keyframes glow {
    0% {
        text-shadow: 0 0 5px rgb(125, 0, 150), 0 0 10px #492E87, 0 0 15px #492E87, 0 0 10px #8A2BE2;
    }

    100% {
        text-shadow: 0 0 10px #2e8769, 0 0 15px #2e8769, 0 0 20px #cbd810, 0 0 15px #8A2BE2;
    }
} */

.h3Resumen {
    color: #492E87;
    background: linear-gradient(45deg, #3c4607, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: 0 0 5px #492E87, 0 0 10px #492E87; */
    animation: glow 1.5s ease-in-out infinite alternate;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

/****************************************************/
/*************************h3Resumen  *************************/

/* @keyframes glow-gradient {
    0% {
        text-shadow: 0 0 5px rgba(101, 86, 0, 0.5), 0 0 10px rgba(101, 86, 0, 0.5), 0 0 15px rgba(101, 86, 0, 0.5);
    }

    50% {
        text-shadow: 0 0 5px rgba(101, 86, 0, 0.5), 0 0 10px rgba(101, 86, 0, 0.5), 0 0 20px rgba(101, 86, 0, 0.5);
    }

    100% {
        text-shadow: 0 0 5px rgba(255, 0, 85, 0.5), 0 0 10px rgba(255, 0, 136, 0.5), 0 0 15px rgba(255, 0, 85, 0.5);
    }
} */

.cabecera-subtle-glow {
    color: transparent;
    background: linear-gradient(45deg, #700a41, #81912f);
    /* Degradado rosa */
    -webkit-background-clip: text;
    animation: glow-gradient 2s ease-in-out infinite;
    font-size: 1em;
    text-align: center;
    margin: 20px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    /* Sombra sutil */
}




/* CLASES FIN */
/* *************************************************************** */

footer {
    padding: 0 10%;
}

.navbar-nav .nav-item .nav-link {
    color: rgb(0, 43, 128);
}

.navbar-nav .nav-link:hover {
    color: #AEB9C7;
}

@media (max-width: 992px) {
    .navbar-nav .nav-item {
        text-align: center;
    }
}